
@page
{
    margin: 0;
    padding: 0;

    border: none!important;
    size: A4 landscape;

}

html,
body.large
{
    position: relative;

    height: 210mm!important;
    width: 297mm!important;
    margin: 0;
    padding: 0;

}
.list
{
    width: 100%!important;
    margin-top: 2cm;
    position: absolute;

    border-color: transparent!important;
}

.container
{
    width: 100%!important;
    margin: 0px 0px!important;
}

.card.large
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 11.7cm!important;
    height: 6.6cm!important;
    margin-top: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-bottom: 3.7cm!important;

    transition: none;

    border: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.card-action,
.card-content
{
    padding: 0 !important;
}

.card.leftCol.large
{
    left: 2cm;
}

.card.rightCol.large
{
    right: 2cm;

    float: right!important;
}

.noPrint
{
    display: none!important;
}

.pageBreak
{
    height: 2cm;

    page-break-before: always;
}


